__pycache__
.fuse_hidden*
*.pyc
.data
venv*
wvenv*
ios_app/
.data/db.sqlite
.data
labeler/*.csv
*.ipynb_checkpoints
*.hdf5
labeler/all.json
labeler/results/
.vscode
win-venv/
**/upload.sh
**/backup_local.sh
scripts/gpup
transcribe/
.coverage
.tox
coverage.xml
.eggs/
*.egg-info/

# Ignore the below
videos/
output-backup/
homeword/
secrets.sh
